@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700')

html
    scroll-behavior smooth
    width 100%
    height 100%

body
    margin 0
    line-height 1.5em
    -webkit-tap-highlight-color transparent
    width 100%
    height 100%

#root
    width 100%
    height 100%

body, button, input, textarea
    font-family Roboto, sans-serif

a
    text-decoration none

a, button
    &:active, &:focus
        outline none

input, textarea
    &:focus, &:active
        outline none