.home
    height 100%
    display flex
    align-items center
    justify-content center

.icon
    color red
    width 80px
    height 80px
    transition .2s ease-out
    &:hover
        color black